p{
  color: blue;
  font-size:large;
}
#para-one{
  color: red;
  text-decoration: underline;
}
#para-two{
  font-size: xx-large;
  text-decoration: underline;
}

body{
  background-image: url("../Images/Photo.png");
}